NODE_ENV=development
PORT=5000
JWT_SECRET="IshouldBe$ecret"
DB_URL="mongodb://localhost/DBname"

TEST_DB_HOST=localhost
TEST_DB_PORT=27017
TEST_DB_NAME=boilerPlateDB

MAIL_HOST=mail.example.com
MAIL_PORT=465
MAIL_USERNAME=email@example.com
MAIL_PASSWORD=emailPassword
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=email@example.com
MAIL_FROM_NAME="Application name"
MAIL_REPLY_TO=email@example.com
MAIL_BCC=email@example.com
MAIL_CC=email@example.com